/* GLOBAL STYLES
-------------------------------------------------- */
.nav {
  position: absolute;
  left: 0px;
  height: 40px;
  /* background-color: #2C64B4; */
  width: 100%;
  margin: 0 auto;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  /* color: #FFF; */
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: #b31ee0;
}
     
footer {
  clear: both;
  text-align: center;
  /* margin: 50px; */
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#0f1113e5;
  /* font-family: 'Gill Sans, sans-serif'; */
  color: rgb(241, 234, 234);
}

/* CAROUSEL
-------------------------------------------------- */

#main_section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  align-content: center;
}


/* MAIN
-------------------------------------------------- */
#analytics_section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 130px;
  margin-left: 110px;
  align-content: center;
}

.container {
  margin-top: 20px;
}

.text-block2 {
  /* position: absolute; */
  top: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: black;
  text-transform: uppercase;
  opacity: 0.4;
}

.facts-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-header {
  text-transform: uppercase;
}

img{
  display: flex;
  justify-content: center;
}

.bg-cover-index{
  background-image: url("../assets/img/logo.png");
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  image-resolution: 1920dpi
}

.bg-cover-analysis{
  background-image: url("../assets/img/big_group4.jpg");
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.bg-cover-predictor{
  background-image: url("../assets/img/test_page.png");
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  image-resolution: 1920dpi;
  
}
.bg-cover-treatment{
  background-image: url("../assets/img/header1.png");
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

/* high.html */
#results {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 130px;
  margin-left: 110px;
  align-content: center;
}

.bottom-left {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: xx-large;
  font-weight: bolder;
}

.treat {
font-size: 250%;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.sidebar{
  float: right;
  margin-right: 50px;
  margin-top: 65px;
}

ul.remove-points {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.maintxt {
    position: relative;
}
.maintxt > img, .overlay-text {
    position: absolute;
}
.overlay-text {padding: 150px 50px;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */


/* Featurettes
------------------------- */



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* test.html */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}