<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Diabetes Portal</title>
</head>

<body>

  <!-- some class properties not needed. delete when done mr-auto type="text/css" -->
  <!-- ### NAV BAR ### -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">H O M E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatment">T R E A T M E N T &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">P R E D I C T O R &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">A N A L Y T I C S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
    </div>
  </nav>

  <!-- ### INSERT CONTENT HERE ### -->
  <div class="jumbotron bg-cover-index"></div>

  <div id="main_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>WHAT IS DIABETES?</h1>
          <!-- <div class="card"> -->
            <div class="card-body">
              <p class=" lead card-text">"Diabetes is a chronic (long-lasting) health condition that affects how your
                body turns food
                into energy.
                <br>
                <br>
                Most of the food you eat is broken down into sugar (also called glucose) and released into your
                bloodstream.
                When your blood sugar goes up, it signals your pancreas to release insulin.
                Insulin acts like a key to let the blood sugar into your body’s cells for use as energy."
                <a href="https://www.cdc.gov/diabetes/basics/diabetes.html" target="_blank"><br>-Centers for Disease
                  Control(CDC)</a>
                <br>
                <br>
                Unfortunately, there is no way to prevent type 1 diabetes and there's is no cure once you have
                diabetes.</p>
            </div>
          </div>
        </div>
      </div>
      <br>

      <hr>

      <br>

      <!-- TYPES -->
      <div class="container-fluid">
        <h1>TYPES OF DIABETES</h1>
        <hr>

        <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
              <div class="card">
                <img src="{{ url_for('static', filename='assets/img/prediabetes.png') }}" class="mx-auto d-block" height=150px width=150px alt="Prediabetes">
                <h5 class="card-header text-center">Prediabetes</h5>
                <div class="card-body">
                  <p class="card-text">
                    Blood sugar levels are higher than normal, but not high enough yet to be diagnosed as type 2
                    diabetes. You can have prediabetes for years but have no clear symptoms.
                  </p>
                  <br>
                  <a href="https://www.cdc.gov/diabetes/basics/prediabetes.html" target="_blank"
                    class="btn btn-primary btn-block">Click here for more!</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <div class="card">
                <img src="{{ url_for('static', filename='assets/img/type1.png') }}" class="mx-auto d-block" height=150px width=150px alt="Prediabetes">
                <h5 class="card-header text-center">Type 1 Diabetes</h5>
                <div class="card-body">
                  <p class="card-text">
                    Type 1 diabetes is thought to be caused by an autoimmune reaction (the body attacks itself by
                    mistake) that stops your body from making insulin.
                  </p>
                  <br>
                  <br>
                  <a href="https://www.cdc.gov/diabetes/basics/type1.html" target="_blank"
                    class="btn btn-primary btn-block">Click
                    here for more!</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <div class="card">
                <img src="{{ url_for('static', filename='assets/img/type2.png') }}" class="mx-auto d-block" height=150px width=150px alt="Prediabetes">
                <h5 class="card-header text-center">Type 2 Diabetes</h5>
                <div class="card-body">
                  <p class="card-text">
                    With type 2 diabetes, your body doesn’t use insulin well and can’t keep blood sugar at normal
                    levels. Your pancreas makes more insulin to try to get cells to respond.
                  </p>
                  <br>
                  <a href="https://www.cdc.gov/diabetes/basics/type2.html" target="_blank"
                    class="btn btn-primary btn-block">Click
                    here for more!</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <div class="card">
                <img src="{{ url_for('static', filename='assets/img/pregnant.png') }}" class="mx-auto d-block" height=150px width=150px alt="Prediabetes">
                <h5 class="card-header text-center">Gestational Diabetes</h5>
                <div class="card-body">
                  <p class="card-text">
                    It develops in pregnant women who have never had diabetes. It usually goes away after your
                    baby is
                    born but increases your risk for type 2 diabetes.
                  </p>
                  <br>
                  <br>
                  <a href="https://www.cdc.gov/diabetes/basics/gestational.html" target="_blank"
                    class="btn btn-primary btn-block">Click
                    here for more!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <hr>

      <br>

      <!-- FACTS -->
      <div>
        <div class="container-fluid">
          <h1>CDC QUICK FACTS</h1>
          <p>Below are some quick facts about diabetes courtesy of the CDC.</p>
          <hr>
          <br>
          <img class="mx-auto d-block" src="{{ url_for('static', filename='assets/img/cdc_infographic.jpg') }}">
        </div>
      </div>
    </div>
  </div>

  </main>

  <footer>
    <p>Rutgers University Data Science Boot Camp : Diabetes Portal Team Members</p>
    <p><a href="#" target="_blank">Ryla Almario</a> - <a href="#" target="_blank">Sanjive Agarwal</a> - <a href="#"
        target="_blank">Andrew Lau</a> - <a href="#" target="_blank">Mitesh Parekh</a> - <a href="#"
        target="_blank">Tamala Chipeta</a></p>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>