<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Low Risk Prediction</title>
</head>

<body>

  <!-- ### NAV BAR ### -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">H O M E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatment">T R E A T M E N T &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">P R E D I C T O R &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">A N A L Y T I C S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
    </div>
  </nav>

  <!-- ### INSERT CONTENT HERE ### -->
  <div class="sidebar">
    <aside id="site-aside" role="complementary">
      <img src="{{ url_for('static', filename='assets/img/low_risk2.png') }}" alt="Low Risk">
    </aside>
  </div>

  <main id="main_section">
    <h1>Low Risk of Diabetes</h1>
    <h4><u>Analysis</u></h4>
    <h5> Based on your results, you're at low risk for diabetes. <br>Keep up the good work! These healthy habits will
      keep
      your risk low:
    </h5>
    <hr>
    <h6>1. Eat healthy foods, including lots of fruits and vegetables</h6>
    <br>
    <h6>2. Drink more water, and fewer sugary drinks</h6>
    <br>
    <h6>3. Keep your weight in a healthy range</h6>
    <br>
    <h6>4. Get at least 150 minutes of physical activity a week</h6>
    <br>
    <h6>5. Don't smoke</h6>
    <br>
    <button onclick="document.location='/test'">Take the test again</button>
    <button onclick="document.location='/'">Home</button>

  </main>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <footer>
    <p>Rutgers University Data Science Boot Camp : Diabetes Portal Team Members</p>
    <p><a href="#" target="_blank">Ryla Almario</a> - <a href="#" target="_blank">Sanjive Agarwal</a> - <a href="#"
        target="_blank">Andrew Lau</a> - <a href="#" target="_blank">Mitesh Parekh</a> - <a href="#"
        target="_blank">Tamala Chipeta</a></p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>