<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="css" href="{{ url_for('static', filename='assets/css/style.css') }}" title="style">

  <title>Diabetes Portal</title>
</head>

<body>

  <!-- ### NAV BAR ### -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Diabetes Facts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatment">Treatment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">Diabetes Predictor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">Analytics</a>
        </li>
    </div>
  </nav>

  <!-- ### INSERT CONTENT HERE ### -->
  <main id="main_section">
    <img src="{{ url_for('static', filename='assets/img/predictor6.jpg') }}" alt="prediction">


    <!-- Diabetes Predictor Test-->
    <div class="container-fluid">
      <h2 class="display-4"> Diabetes Predictor</h2>
      <p>Let our AI predict your Diabetes risk!<br> Enter your information and click submit below.</p>

      <!-- what does this mean? -->
      <br>
      <br>
      <br>
      <h3>Complete Form</h3>
      <form action="/completeTest" method="POST" role="form">
        <div class="form-group">
          <label for="age">What is your age?</label>
          <input type="age" class="form-control" placeholder="Enter age" id="age">
        </div>
        <div class="form-group">
          <label for="gender">What is your gender at birth?</label>
          <input type="gender" class="form-control" placeholder="Male/Female" id="gender">
        </div>
        <div class="form-group">
          <label for="pregnancy">How many pregnancies have you had?</label>
          <input type="pregnancy" class="form-control" placeholder="0" id="pregnancy">
        </div>
        <div class="form-group">
          <label for="height">What is your height(inches)?</label>
          <input type="height" class="form-control" placeholder="60" id="height">
        </div>
        <div class="form-group">
          <label for="weight">What is your weight(lbs)?</label>
          <input type="weight" class="form-control" placeholder="120" id="weight">
        </div>
        <div class="form-group">
          <label for="glucose">What is your glucose level?</label>
          <input type="glucose" class="form-control" placeholder="120" id="glucose">
        </div>
        <div class="form-group">
          <label for="bp">What is your blood pressure(diastolic)?</label>
          <input type="bp" class="form-control" placeholder="120" id="bp">
        </div>
        <div class="form-group">
          <label for="skin">What is your skin thickness?</label>
          <input type="skin" class="form-control" placeholder="120" id="skin">
        </div>
        <div class="form-group">
          <label for="insulin">What is your insulin?</label>
          <input type="insulin" class="form-control" placeholder="120" id="insulin">
        </div>
        <div class="form-group">
          <input type="submit" value="submit" class="btn btn-primary ">Find my Risk</input>
        </div>
      </form>
    </div>
  </main>
</body> 

</html>