<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Diabetes Predictor</title>
</head>

<body>

  <!-- ### NAV BAR ### -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">H O M E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatment">T R E A T M E N T &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">P R E D I C T O R &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">A N A L Y T I C S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
    </div>
  </nav>

  <!-- ### INSERT CONTENT HERE ### -->
  <div class="jumbotron bg-cover-predictor"></div>
 
  <div class="sidebar">
    <aside id="site-aside" role="complementary">
      <img src="{{ url_for('static', filename='assets/img/predictor5.jpg') }}" alt="prediction">
    </aside>
  </div>


  <main id="main_section">
    <h1>DIABETES PREDICTOR</h1>
    <h4>Let our AI predict your Diabetes risk!<br>Enter your information and click submit below.</h4>
    <p>Please keep in mind that our AI is still learning! Consult with your doctor for a proper diagnosis.</p>
    
    <hr>

    <form action="/completeTest" method="POST" role="form">
      <div class="form-group">
        <label for="age">What is your age?</label>
        <input type="integer" step="any" class="col-5 form-control" placeholder="Enter age" id="age" name="age">
      </div>
      <div class="form-group">
        <label for="gender">What is your gender at birth?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="Male/Female" id="gender" name="gender">
      </div>
      <div class="form-group">
        <label for="pregnancy">How many pregnancies have you had?</label>
        <input type="text" class="col-5 form-control" placeholder="0" id="pregnancy" name="pregnancy">
      </div>
      <div class="form-group">
        <label for="height">What is your height(inches)?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="70" id="height" name="height">
      </div>
      <div class="form-group">
        <label for="weight">What is your weight(lbs)?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="150" id="weight" name="weight">
      </div>
      <div class="form-group">
        <label for="glucose">What is your glucose level?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="120" id="glucose" name="glucose">
      </div>
      <div class="form-group">
        <label for="bp">What is your blood pressure(diastolic)?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="100" id="bp" name="bp">
      </div>
      <div class="form-group">
        <label for="skin">What is your skin thickness?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="4" id="skin" name="skin">
      </div>
      <div class="form-group">
        <label for="insulin">What is your insulin?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="100" id="insulin" name="insulin">
      </div>
      <div class="form-group">
        <label for="pedigree">What is your diabetic pedigree function?</label>
        <input type="text" step="any" class="col-5 form-control" placeholder="1" id="pedigree" name="pedigree">
      </div>
      <div class="form-group">
        <input type="submit" value="Find my Risk" class="btn btn-primary "></input>
      </div>
    </form>
  </main>

  <footer>
    <p>Rutgers University Data Science Boot Camp : Diabetes Portal Team Members</p>
    <p><a href="#" target="_blank">Ryla Almario</a> - <a href="#" target="_blank">Sanjive Agarwal</a> - <a href="#"
        target="_blank">Andrew Lau</a> - <a href="#" target="_blank">Mitesh Parekh</a> - <a href="#"
        target="_blank">Tamala Chipeta</a></p>
  </footer>

</body>

</html>