<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <title>Diabetes Treatment</title>
</head>

<body>

  <!-- ### NAV BAR ### -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">H O M E <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatment">T R E A T M E N T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">P R E D I C T O R</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">A N A L Y T I C S</a>
        </li>
    </div>
  </nav>

  <!-- ### INSERT CONTENT HERE ### -->
  <div class="jumbotron bg-cover-treatment"></div>

  <main id="main_section">
    <div class="row">
      <div class="col-sm-7">
        <h1>TREATMENT OPTIONS</h1>
        <p>Although there isn't a cure for diabetes, there are many treatment options to make it managable so it
          doesn't disrupt your life style. To the right are some helpful links to get you started.
          Below are some key points to keep in mind and health centers that are recognized for providing diabetes care.
        </p>
      </div>

      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type: none">
              <h3>Helpful Links</h3>
              <li><a href="https://www.webmd.com/diabetes/guide/understanding-diabetes-detection-treatment"
                  target="_blank">Understanding
                  Diabetes--Diagnosis & Treatment</a></li>
              <li><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/insulin-medicines-treatments"
                  target="_blank">NIH:
                  Types of Insulin</a></li>
              <li><a
                  href="https://www.mayoclinic.org/diseases-conditions/type-1-diabetes/diagnosis-treatment/drc-20353017"
                  target="_blank">Mayo
                  Clinic: Type 1 Diabetes Treatment</a></li>
              <li><a href="https://www.cdc.gov/diabetes/library/glossary.html" target="_blank">CDC Diabetes
                  Glossary</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-4 mx-auto">
        <div class="thumbnail">
          <div class="card" style="width: 20rem;">
            <img src="{{ url_for('static', filename='assets/img/Eat_Healthy.jpg') }}" class="card-img-bottom" alt="...">
            <div class="card-body">
              <p class="card-text"> One of the most common advice is to eat well.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="width: 20rem;">
            <img src="{{ url_for('static', filename='assets/img/activities.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> Being active is another way to control your diabetes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="width: 20rem;">
            <img src="{{ url_for('static', filename='assets/img/medications.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> Consult with your provider on the best medication for you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h3>Treatment Center Map</h3>
    <h6>Click on the filters below to find a treatment center near you</h6>
    <div class='tableauPlaceholder' id='viz1597380229722' style='position: relative'><noscript><a href='#'>
          <img alt=' '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;di&#47;diabetes_treatment&#47;recog_stat_Dashboard2&#47;1_rss.png'
            style='border: none' /></a></noscript>
      <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='diabetes_treatment&#47;recog_stat_Dashboard2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image'
          value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;di&#47;diabetes_treatment&#47;recog_stat_Dashboard2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
      </object>
    </div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1597380229722');
      var vizElement = divElement.getElementsByTagName('object')[0];
      if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
      else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
      else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
  </main>


  <footer>
    <p>Rutgers University Data Science Boot Camp : Diabetes Portal Team Members</p>
    <p><a href="#" target="_blank">Ryla Almario</a> - <a href="#" target="_blank">Sanjive Agarwal</a> - <a href="#"
        target="_blank">Andrew Lau</a> - <a href="#" target="_blank">Mitesh Parekh</a> - <a href="#"
        target="_blank">Tamala Chipeta</a></p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>